@font-face {
    font-family: 'Faktum';
    font-weight: 100;
    src: url('../assets/fonts/Faktum-Regular.woff2')
}
@font-face {
    font-family: 'GrandSlang';
    font-weight: 500;
    src: url('../assets/fonts/GrandSlang-Roman.woff2')
}


$font-serif: 'GrandSlang', serif;
$font-sans-serif: 'Faktum', sans-serif;
$backgroundColor: #111111;

