// DEFAULTS
@import './fonts.scss';


$bg: #532020;
$black: #111;
$yellow: red;
$text-color: #EEE;
$text-color-active: #F00;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    // overflow: hidden;
}

body {
    background: $yellow;
}

#app {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

// Loader
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: #000;
}

// HEADER 
.header {
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Faktum, sans-serif;
    font-size: .7rem;
    width: 100%;
    height: 65px;
    background: $yellow;
    border-bottom: 1px solid $black;
    padding: 0 3em;

    .logo {
        font-weight: bold;
    }

    .sm-circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $black;
    }
}
.mask { overflow: hidden; }

.main {
    padding: 200px 0;
    width: 100%;
    
    // height: 100%;
    .container {
        user-select: none;
        outline: none;
        overflow: hidden;
        padding: 0 30px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding:  0 20px;

        .grid-item {
            margin: 0px 0;
            &:nth-child(2n) {
                // padding-top: 20px;
            }
        }
    }
    .title {
        font-family: Faktum, sans-serif;
        font-size: 25vw;
        text-align: center;
        margin: 20px 0;
        // transform: rotate(-5deg);
    }


}

.drag-help {
    font-family: Faktum, sans-serif;
    font-weight: bold;
    margin: 20px 0 0 30px;
    display: inline-block;
}

.person {
   display: inline-block;
   margin: 0 20px;
    :nth-of-child(odd) {
        margin-top: 30px;
    }
    .image {
        width: 50vw;
        height: 50vw;
        background: $black;
        overflow: hidden;
        // border-radius: 50%;

        img {
            width: 120%;
            // height: 100%;
        }
    }
    .info {
        font-family: Faktum, sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .7rem;
        
        padding: 10px 0;
        text-transform: uppercase;

        .name {
            // font-size: .7rem;
            font-weight: 900;
        }
    }

}
