// DEFAULTS
@import './fonts.scss';
$black: #EEE;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: $black;
}

#app {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.artist {
    color: #111;
    font-family: GrandSlang, sans-serif;
    font-size: 8vw;
}
